.project {
  margin: 15px;
  max-width: 400px;
  max-height: 500px;
}

@mixin add-opacity-transition($opacity) {
  opacity: $opacity;
  transition: opacity 400ms;
}

.img-hoverchild {
  opacity: 1;

  .hoverparent:hover & {
    @include add-opacity-transition(0.1);
  }
}

.text-hoverchild {
  opacity: 0;

  .hoverparent:hover & {
    @include add-opacity-transition(1);
  }
}
