$transition-duration: 300ms;
$transition-type: ease-in;

.project {
  margin: 15px;
  $width: 400px;
  width: $width;
  height: unquote('min(453px, 100vw)');
  
  &:hover {
    background-color: #343a40;
    transition: background-color ($transition-duration * 2) $transition-type;
  }
}

@mixin add-opacity-transition($opacity) {
  opacity: $opacity;
  transition: opacity $transition-duration $transition-type;
}

.img-hoverchild {
  opacity: 1;

  .hoverparent:hover & {
    @include add-opacity-transition(0.1);
  }
}

.text-hoverchild {
  opacity: 0;

  .hoverparent:hover & {
    @include add-opacity-transition(1);
  }
}
