$transition-duration: 300ms;
$transition-type: ease-out;

.project {
  margin: 15px;
  // $width: 400px;
  // width: $width;
  // height: unquote('max(80vh, 453px)');
}

@mixin add-opacity-transition($opacity) {
  opacity: $opacity;
  transition: opacity $transition-duration $transition-type;
}

.img-hoverchild {
  opacity: 1;

  .hoverparent:hover & {
    @include add-opacity-transition(0.1);
  }
}

.text-hoverchild {
  opacity: 0;
  margin-top: 45px;

  .hoverparent:hover & {
    @include add-opacity-transition(1);
  }
}
