.project {
  margin: 15px;
  $side: 320px;
  width: $side;
  height: $side;
  // height: unquote('max(80vh, 300px)');
  cursor: pointer;
  overflow-y: hidden;
}

@mixin formatContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

$transition-duration: 300ms;
$transition-type: ease-out;

@mixin add-opacity-transition($opacity) {
  opacity: $opacity;
  transition: opacity $transition-duration $transition-type;
}

.imgHoverchild {
  opacity: 1;

  $hoverOpacity: 0.3;
  .hoverparent:hover & {
    @include add-opacity-transition($hoverOpacity);
  }
  .hoverparent:focus & {
    @include add-opacity-transition($hoverOpacity);
  }
  // .hoverparent:focus-within & {
  //   @include add-opacity-transition($hoverOpacity);
  // }
}

.contentHoverchild {
  opacity: 0;

  @include formatContent();

  $hoverOpacity: 1;
  .hoverparent:hover & {
    @include add-opacity-transition($hoverOpacity);
  }
  .hoverparent:focus & {
    @include add-opacity-transition($hoverOpacity);
  }
  // .hoverparent:focus-within & {
  //   @include add-opacity-transition($hoverOpacity);
  // }
}
