$bg: #0e0e0e;
$text: #dee2e6;
$menu-text: white;
$control: #0e0e0e;
// $control: #007bff;
$control-hover: #007bff;
$font: Oswald, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;