@use "customThemeVars" as t;

.SocialButton {
  width: 50px;
  height: 50px;
  border-radius: 250px;
  display: flex;
  justify-content: center;
}

.SocialIcon {
  width: 1.5em;

  .SocialButton:hover &, .SocialButton:focus & {
    filter: drop-shadow(0 0 t.$shadow-size t.$link-hover);
  }
}

.SocialIconPath {
  fill: t.$link-norm;

  .SocialButton:hover &, .SocialButton:focus & {
    fill: t.$link-hover;
  }
}